<h2>Listado de usuarios</h2>
<table>

    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
        </tr>
    </thead>

    <tbody>
        {{#each usuarios}}
        
        <tr>
            <td>{{this.nombre}}</td>
            <td>{{this.apellido}}</td>
            <td>{{this.email}}</td>
            <td>
                <a href="/api/usuarios/edit/{{this._id}}"><i class="fa fa-edit"></i></a>
                <a href="/api/usuarios/delete/{{this._id}}"><i class="fa fa-trash"></i> </a>
                <a href="/api/domicilios/{{this.domicilio_id}}">Editar Domicilio</a> 
            </td>
        </tr>

        {{/each}}

    </tbody>
    
</table>    
<br>
<h5>Si se borra el mismo usuario con el que ingreso te sacara de la sesion</h5>

<a href="/api/auth/logout" class="btn btn-primary"> Logout</i></a>

